<configuration>
    <appender name="CONS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-8r - %-3logger - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <root level="OFF">
        <appender-ref ref="CONS"/>
    </root>
</configuration>
